.App {
    text-align: center;
    padding: 50px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.banner-bg {
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: black!important;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.banner {
    white-space: pre;
    font-weight: bold;
    color: white;
    display: block;
}

form {
    display: inline-block!important;
    text-align: center;
}

.btn {
    margin-left: 20px;
}
